html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #5d524c;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
}

#vogel {
    width: 225px;
    height: auto;
    -webkit-clip-path: polygon(21% 94%, 32% 95%, 33% 81%, 43% 80%, 43% 89%, 43% 94%, 54% 94%, 55% 89%, 55% 79%, 55% 69%, 55% 55%, 55% 46%, 56% 35%, 55% 26%, 46% 22%, 38% 22%, 33% 21%, 26% 21%, 19% 23%, 16% 27%, 13% 31%, 12% 35%, 6% 39%, 4% 40%, 3% 48%, 3% 59%, 4% 67%, 5% 74%, 4% 79%, 11% 80%, 16% 80%, 20% 81%, 19% 89%);
clip-path: polygon(21% 94%, 32% 95%, 33% 81%, 43% 80%, 43% 89%, 43% 94%, 54% 94%, 55% 89%, 55% 79%, 55% 69%, 55% 55%, 55% 46%, 56% 35%, 55% 26%, 46% 22%, 38% 22%, 33% 21%, 26% 21%, 19% 23%, 16% 27%, 13% 31%, 12% 35%, 6% 39%, 4% 40%, 3% 48%, 3% 59%, 4% 67%, 5% 74%, 4% 79%, 11% 80%, 16% 80%, 20% 81%, 19% 89%);
}
